.glass-effect-capitais {
    color: white;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 100px;
    margin-top: 90px;
    margin-bottom: 20px;
    background: rgba(3, 20, 119, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba(40, 163, 234, 0.18);
  }
  
